.navContent {
  display: flex;
  justify-content: space-between;
}

.navLinks a {
  margin-left: 5px;
}

.navLinks a :global(.badge) {
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.navLinks {
  display: flex;
}

.navLinks :first-child {
  margin-left: 0;
}
