.notification {
  border: 1px solid #eee;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
}
